#map-container {
    position: relative;
    height: 500px;
}

#geocoder div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
