.checked {
    color: #f3b43e;
}
.image-product {
    with: 100px;
    height: 100px;
    margin: 0 20px;

}
.min-with-table {
    min-width: 150px;
}
.no-checked {
    color: #9B9B9B;
}
.review-content {
    margin: 35px 0;
}

