.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.empty {
    height: 700px;

    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: auto
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.conversation-list {
    height: 737px;
    overflow-y: auto;
    padding-right: 0;

    .active {
        background-color: lightgray;
    }
}

