/node_modules
/public/hot
/public/storage
/public/assets/admin/js/*
/public/assets/admin/firebase/*
/public/assets/admin/css/*
/public/mix-manifest.json
/public/assets/web
/public/fonts

/public/docs
/public/vendor/scribe
/public/vendor/ckeditor
/public/firebase-messaging-sw.js
/resources/docs
/resources/views/scribe

/storage/firebase/
/storage/*.key
/storage/debugbar/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
*.DS_Store
.editorconfig
.idea
.scannerwork
.scribe
.history
/public/apk/*
