// Body
$body-bg: #f8fafc;

// Typography
$font-family-sfui: 'Open Sans';
$text-color: black;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3A5999;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #DC4E41;
$orange: #F3B43E;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #F4F4F6;
$white: white;
$gray-103: #707070;
$gray-51: #828282;
$oslo-grey: #828383;
$light-blue: #E7E9EE;

// Theme
$text-primary-light: #565757;
$text-primary-main: #333333;
$text-primary-dark: #222222;
$text-primary-black: #000000;
$text-secondary-main: #868686;
$text-secondary-dark: #595959;
$text-secondary-light: $white;

$link-light: #4394E7;
$link-main: #1686CC;
$link-dark: #208BE0;

$bg-primary-light: #FFCE54;
$bg-primary-cyan: rgb(244 244 246 / 50%);
$bg-primary-main: #f3b43e;
$bg-primary-transition: #f3b43e36;
$bg-secondary-main: #9B9B9B;
$bg-secondary-dark: #595959;
$bg-secondary-dark-top: black;
$bg-thirdly: $blue;
$bg-thirdly-hover: #0a58ca;
$bg-success: #26A541 ;
$bg-danger: #ef2f41 ;
$bg-danger-hover: #bb2d3b ;
$bg-footer: $cyan ;

$border-primary-main: #DCDEE1;
$border-primary-dark: #D7D9DD;
$border-primary-focus: #A7A7A7;
$border-secondary-main: #7B7B7B;
$border-secondary-light: #DCE1E8;
$border-categories: #EDEFF3;

$border-btn-dark: #a7a7a7;
$line-status-gray: #E1E5EB;
$bg-store-info: #F2F3F6;
$bg-unread-notification: #f5f7fa;
$text-grey-notification: #A7A7A7;
