/* cyrillic-ext */
@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Heavy.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-HeavyItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-MediumItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-RegularItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-Semibold.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText';
  font-style: italic;
  src: url('./fonts/sf-ui-text-2-cufonfonts/SFUIText-SemiboldItalic.ttf') format('ttf');
}
