.shopping-cart {
    .search-input {
        border-radius: 23px 0 0 23px;
        height: 45px;
        padding-left: 20px;
    }

    .search-btn {
        background: $bg-primary-main;
        color: $white;
        height: 45px;
        border-radius: 0 23px 23px 0;
        padding: 11px 30px;

        &:hover {
            color: $white;
        }
    }

}
