.my-change-password {
    min-height: 375px;
    margin-bottom: 30px;

    .padding-1 {
        padding: 0.75em;

        label {
            font-size: 0.875em;
            white-space: nowrap;
        }

        input {
            font-size: 0.875em;
        }
    }

    .align-right {
        text-align: right;
    }

    .button {
        border-radius: 24px;
        color: $white;
        background-color: $orange;
        text-transform: uppercase;
    }

    .text-margin {
        margin: 20px;
    }

    @include responsive(SM) {
        margin-top: 10px;

        .align-right {
            text-align: center;
        }
    }
}
