@import "../variables";

.input-register {
    &:focus {
        box-shadow: none;
        border-bottom: 2px solid $border-primary-focus;
    }

    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $border-secondary-main;
}

.input-group-icon-register-l input {
    padding-left: 20px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-30 {
    padding-bottom: 25px;
}

.input-group-icon-register-l .icon {
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 1000;
}
