@import '../variables';
.user-dropdown {
    .dropdown-menu {
        width: 200px;

        li {
            float: left;

            a {
                color: $text-primary-dark;
                &:hover {
                    color: $link-main;
                }
            }

            button {
                color: $text-primary-dark;
                border: 1px solid $text-primary-dark !important;

                &:hover {
                    background-color: $bg-danger-hover !important;
                    color: $white !important;
                }
            }
        }
    }
    .btn-logout {
        border: 1px solid $border-secondary-main;
        color: $text-secondary-main;

        &:hover {
            background: $white;
            border: 1px solid $link-main;
            color: $link-main;
        }
    }
}
